<CONFIGURATION>
<DEFAULT Version = "0.60" GospelSelector = "Jordanville" Year = "2006-2010" Language = "en/" Authors = "Aleksandr Andreev, Yuri Shardt" AvailableLanguages = "en/,fr/,cu/,cu/ru/,el/,zh/Hans/,zh/Hant/" Latitude = "60.0" TimeZone = "3" Primes = "Priest,Independent" Longitude = "30.3"  />
</CONFIGURATION>