<CONFIGURATION>
<DEFAULT Version = "0.45" GospelSelector = "Lucan Jump" Year = "2006, 2007, 2008, 2009,2010" Language = "English" Authors = "Aleksandr Andreev, Yuri Shardt" AvailableLanguages = "English,Français,,русский" Latitude = "60.0" BibleDefaults = "kjv,fra,slv,slv,cuv" TimeZone = "3" Primes = "Priest,Independent" Longitude = "30.3"  />
</CONFIGURATION>