<CONFIGURATION>
<DEFAULT Version = "0.60" GospelSelector = "Saute Lucienne" Year = "2006-2010" Language = "zh/Hans/" Authors = "Aleksandr Andreev, Yuri Shardt" AvailableLanguages = "en/,fr/,cu/,cu/ru/,gr/,zh/Hans/,zh/Hant/" Latitude = "60.0" TimeZone = "3" Primes = "Priest,Independent" Longitude = "30.3"  />
</CONFIGURATION>