<CONFIGURATION>
<DEFAULT Version = "0.50" GospelSelector = "Lucan Jump" Year = "2006-2010" Language = "简体中文" Authors = "Aleksandr Andreev, Yuri Shardt" AvailableLanguages = "English,Français,церковнославѧнский,русский,Ελληνική,简体中文,繁體中文" Latitude = "60.0" BibleDefaults = "kjv,fra,slv,slv,spt,zho_simplified,zho_traditional" TimeZone = "3" Primes = "Priest,W.Ending" Longitude = "30.3"  />
</CONFIGURATION>