<CONFIGURATION>
<DEFAULT Version = "0.80" GospelSelector = "LucanJump" Year = "2006-2014" Calendar = "Julian" Language = "en/" TimeZone2 = "+1" Authors = "Aleksandr Andreev, Yuri Shardt" AvailableLanguages = "en/,fr/,cu/,cu/ru/,el/,el/mono/,zh/Hans/,zh/Hant/" Latitude = "51" TimeZone = "+1" Primes = "Priest,Independent" Longitude = "45"  />
</CONFIGURATION>